html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: 300%; */
}


#app {
    background-color: #eaeaea;
    min-height: 100vh;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    color: #1b1f1f;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

}

label {
    font-size: 1.2rem;

    color: #1b1f1f;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

}

.v-input--selection-controls__input{
    margin-bottom: .75rem;
}

label.v-label.theme--light {
    font-size: 1.2rem !important;
    /* margin-bottom: .5rem; */
    margin-bottom: .75rem;
    color: #1b1f1f;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}