html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#app {
    background-color: #eaeaea;
    min-height: 100vh;
    overflow: hidden;
}

p {
    font-size: 1.2rem;
    margin-top: 1.4rem;
    color: #1b1f1f;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

}

label {
    font-size: 1.2rem;
    margin-top: 1.2csrem;
    color: #1b1f1f;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

}